body {
  font-family: sans-serif;
  height: 200vh; /* to prove background is blocked */
}

.hidden {
  display: none;
}

/* Overlay covers entire screen */
#overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal box */
.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
}
